@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<input type="button" id="btnGetData" value="Получить данные" />
<input type="button" id="btnGetDataWithError" value="Получить данные с ошибкой" />

<fieldset>
    <div class="item">
        <label>Id</label>
        <span id="id">-</span>
    </div>
    <div class="item">
        <label>Имя</label>
        <span id="name">-</span>
    </div>
    <div class="item">
        <label>Возраст</label>
        <span id="age">-</span>
    </div>
    <div class="item">
        <label>Пол</label>
        <input type="radio" id="male" name="sex" /> мужской
        <input type="radio" id="female" name="sex" /> женский        
    </div>
</fieldset>
